@font-face
  font-family: 'hack'
  src: url('static/hack_reg_nerdfont_complete.ttf') format("truetype")

$acc_col: lightblue
$inact_col: darkslategray

body
  background: black
  margin: 0
  color: white
  font-family: 'hack'

button
  background: black
  color: white
  width: 40px
  height: 40px
  font-size: 24px
  font-family: 'hack'
  border: solid 1px white
  border-radius: 5px
  margin: 5px

  &:hover
    color: $acc_col
    border-color: $acc_col

i
  font-style: normal
  margin-left: -5px

.block
  display: none
  width: 330px
  height: calc(100vh - 55px)
  margin: auto
  flex-direction: column

  .inblock
    text-align: center

    &.full
      flex-grow: 2

    &.title
      margin: 5px auto
      font-size: 18px
      text-decoration: underline

    label
      display: inline-block
      margin-top: 12px
      margin-bottom: 7px

  .menu
    text-align: center
    height: 45px
    margin: 5px auto

.btn-inactive
  color: $inact_col
  border-color: $inact_col

  &:hover
    color: $inact_col
    border-color: $inact_col

.btn-large
  width: 180px

.btn-text
  font-size: 18px

.emph
  margin: 20px auto

.error
  font-weight: bold
  color: orange
  margin: 5px auto

.icon
  font-size: 32px
  width: 45px
  min-width: 45px

%line-base
  padding: 5px
  display: flex
  justify-content: space-between

.line-c
  @extend %line-base
  align-items: center

  button
    min-width: 40px

  .lab-switch
    flex-grow: 2
    text-align: left
    margin: auto 10px
    margin-top: 2px

  .switch
    margin-top: 2px !important

.line-m
  padding: 5px
  display: flex
  justify-content: center
  border: solid 1px white
  border-radius: 5px

  label
    text-align: left
    margin: auto 10px

.line-st
  @extend %line-base
  align-items: flex-start

  & > div
    display: inline-block

  & > label
    margin: 0
    text-align: left

.radios
  text-align: left
  width: fit-content
  margin: auto

  input
    margin-right: 7px

  label
    margin: 4px auto !important

    i
      font-size: 25px
      margin-left: 6px
      margin-right: 10px

.switch
  $size: 22px
  position: relative
  display: inline-block
  width: $size * 2.1
  min-width: $size * 2.1
  height: $size * 0.9
  margin: $size * 0.5 !important
  margin-top: $size * 0.6 !important

  input
    opacity: 0
    width: 0
    height: 0

  span
    position: absolute
    cursor: pointer
    top: $size * 0.5
    left: 0
    right: 0
    bottom: 0
    background-color: $inact_col
    border: solid 1px $inact_col
    border-radius: $size * 0.8
    box-sizing: border-box

  span:before
    position: absolute
    content: ''
    height: $size
    width: $size
    left: $size * -0.2
    bottom: $size * -0.4
    background-color: $inact_col
    border: solid 1px white
    border-radius: 50%

  input:hover + span:before
    background-color: $acc_col

  input:checked + span:before
    transform: translate($size * 1.17)
    background-color: $acc_col

#gs-nols
  margin: auto
  width: 300px

#gs-title
  margin: 0 auto
  margin-top: 5px
  display: flex
  align-items: center
  justify-content: center
  height: 45px

  img
    width: 50px
    height: 50px
    margin: 10px

  span
    font-size: 24px
    font-weight: bold

